body {
    background-color: white;
  }
  
  figure {
    margin-left: 0px;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightblue;
  }
  
  .active {
    background-color: darkblue;
  }
  
  li {
    border-right: 1px solid #bbb;
  }
  
  figcaption {
    margin-top: 5px;
  }
  
  hr {
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
  }
  
  input {
    margin-top: 5px;
  }